<!DOCTYPE html>
<html>
<head>
    <title>Курсач | @ViewBag.Title</title>

    <!-- Подключаем CSS -->
    <link href="@Url.Content("~/Content/libs/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/libs/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/libs/prettify.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />

    <!-- Подключаем библиотеки -->
    <script src="@Url.Content("~/Scripts/libs/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/libs/jquery.hashchange.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/libs/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/libs/bootstrap-collapse.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/libs/bootstrap-tab.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/libs/bootstrap-modal.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/libs/prettify.js")" type="text/javascript"></script>

    <!-- Подключаем ядро -->
    <script src="@Url.Content("~/Scripts/core.js")" type="text/javascript"></script>
    <!-- Подключаем управляющий скрипт в зависимости от местоположения -->
    <script src="@Url.Content("~/Scripts/"+ViewBag.Controller+".js")" type="text/javascript"></script>
    <script type="text/javascript">
        var User = {
            AuthState: @(User.Identity.IsAuthenticated ? "true" : "false"),
            Email: "@(User.Identity.IsAuthenticated ? User.Identity.Name : "null")"
        }

        $(document).ready(Kurs.initialize);
    </script>
</head>

<body>
    @Html.Partial("AuthDialog")
    @Html.Partial("Header")
    @RenderBody()
    @Html.Partial("Footer")
</body>
</html>
